*{
  box-sizing: border-box;
}

body{
 background-color: #F4F2F2; 
}

.sidebar{
  width: 335px;
  height:100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F2544;
  min-height: 100vh;
  overflow-x: hidden;
}

.opcion-navbar{
  display: block;
  color: white;
  text-decoration: none;
}

.logo-navbar h3{
  color: white;
  font-weight: bold;
}
