:root{
  --primary: white;
  --secundary: #1F2544;
  --accent: #81689D;
}

*{
  box-sizing: border-box;
}

body{
 background-color: #F4F2F2; 
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.sidebar{
  height:100%;
  width: 335px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1F2544;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}

.opcion-navbar{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
  display: block;
  width: 100%;
}

.logo-navbar{
  padding-top: 50px;
}

.logo-navbar h3{
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo-navbar img{
  height: 118px;
  width: 195px;
}
.opciones-navbar{
  margin-top: 20px;
}
.opciones-navbar i{
  color:white;
  display:inline;
  position: fixed;
  left: 65px;
  font-size: 25px;
}

.cuadro-opcion{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 335px;
}

.cuadro-opcion:hover{
  background-color: #81689D;
}

.main{
  margin-left: 335px;
  padding: 50px;
  width: calc(100vw - 335px);
  height: 100%;
  background-color: #F4F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-table{
  background-color: white;
  padding: 50px;
  width: 100%;
  height: 650px;
  overflow-y: hidden;
  border-radius: 20px;
}

/*.table-wrapper{
  height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
}*/

#vehiculos-table, #vendedores-table, #ventas-table{
  display: block;
  overflow-y: auto;
  height: 400px;
}
.table-wrapper{
  width: 100% !important;
  height: 100px;
}
#vehiculos-table thead th, #vendedores-table thead th, #ventas-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

#vehiculos-table th, #vendedores-table th, #ventas-table th{
  background-color: rgba(129, 104, 157, 0.88);
  color: white;
}

#vehiculos-table, td, #vendedores-table th, #ventas-table th{
  border: 1px solid #B9B9B9;
  border-collapse: collapse;
}

#insert-vehicles, #export-vehicles, #insert-seller, #export-seller, #insert-sales, #export-sales{
  padding: 5px 15px;
}

button i{
  margin-right: 4px;
}

button#insert-vehicles{
  color: white;
  background-color: rgba(129, 104, 157, 0.88);
  border: none;
}

button#export-vehicles{
  color:white;
  background-color: #474F7A;
  border: none;
}

button#nuevo-vehiculos:hover{
  background-color: rgba(129, 104, 157, 0.50);
}
button#exportar-vehiculos:hover{
  background-color: rgba(71, 79, 122, 0.70);
}

button#insert-seller, #insert-sales{
  color: white;
  background-color: rgba(129, 104, 157, 0.88);
  border: none;
}

button#export-seller, #export-sales{
  color:white;
  background-color: #474F7A;
  border: none;
}

button#insert-seller:hover, #insert-sales:hover{
  background-color: rgba(129, 104, 157, 0.50);
}
button#export-seller:hover, #export-sales:hover{
  background-color: rgba(71, 79, 122, 0.70);
}
.accion-botones{
  z-index: 1;
}
.accion-botones i{
  margin-right: 0px;
}

.accion-botones .btn{
  height: 40px;
  border-radius: 0;
}
#vehiculos-table tr:first-child(), #vendedores-table tr:first-child(), #ventas-table tr:first-child(){
  margin: auto;
}

div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover{
  background-color: var(--accent) !important;
  color: white !important;
}

div.dt-container .dt-paging .dt-paging-button:hover{
  background-color: var(--secundary) !important;
}

.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 0px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  border: 0px solid #dededf;
  background-color: rgba(45, 55, 112, 0.7);
  color: #eceff1;
  padding: 5px;
}

.table_component td {
  border: 0px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

#vehicle-header{
  font-weight: bold;
}

.close-btn{
  background-color: rgba(45, 55, 112, 0.7);
  color: white;
}

.close-btn:hover{
  background-color: rgba(71, 79, 122, 1);
  color: white;

}

button#btnInsertarVehiculo, button#btnEditarVehiculo{
  background-color: rgba(45, 55, 112, 0.7);
  color: white;
  width: 35%;
}

#btnInsertarVehiculo:hover, #btnEditarVehiculo:hover{
  background-color: rgba(71, 79, 122, 1);
}

.flex-btn-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div#vehicle-header{
  background-color: rgba(45, 55, 112, 0.7);
  color: white;
  text-align: center;
}