{% extends "base.html" %}
{% block titulo %} EL PELON {% endblock %}

{% block main %}
<div class="date-range-card">
</div>

<div class="dashboard">

  <div class="dashboard-card">
    <div class="total-mensuales-card">
      <p>Ganancias</p>
      <h3 id="ganancias-dashboard"></h3>
    </div>
    <div class="entrada-mensuales-card">
      <p>Compras</p>
      <h3 id="compras-dashboard"></h3>
    </div>
    <div class="salida-mensuales-card">
      <p>Ventas</p>
      <h3 id="ventas-dashboard"></h3>
    </div>
    <div class="cantidad-ventas-mensuales-card">
      <p>Vehículos vendidos</p>
      <h3 id="vendidos-dashboard"></h3>
    </div>
  </div>

  <div class="dashboard-grid">

    <div class="Ventas-por-mes">
      <h4>Ventas anuales</h4>
      <div id="chart-ventas-container">
        <canvas id="chart-ventas"></canvas>
      </div>
    </div>
    <div class="Ventas-por-marca">
      <h4>Ventas por marca</h4>
      <div id="chart-marca-container">
        <canvas id="chart-marca"></canvas>
      </div>
    </div>
    <div class="gastos-por-mes">
      <h4>Gastos por mes</h4>
      <div id="chart-gastos-container">
        <canvas id="chart-gastos"></canvas>
      </div>
    </div>
    <div class="compras-por-mes">
      <h4>Compras por mes</h4>
      <div id="chart-compras-container">
        <canvas id="chart-compras"></canvas>
      </div>
    </div>
    
  </div>
<div>
{% endblock %}

