{% extends "base.html" %}
{% block titulo %} AUTOLOTE {% endblock %}

{% block main %}
<div>
  <button id="nuevo-vehiculos"><i class="fa-solid fa-square-plus"></i>Nuevo</button>
  <button id="exportar-vehiculos"><i class="fa-solid fa-file-export"></i>Exportar</button>
</div>

<div class="table-wrapper">
  <table id="vehiculos-table" class="table">
    <thead>
      <tr>
        <th scope="col">Acción</th>
        <th scope="col">Matricula</th>
        <th scope="col">Nro. chasis</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Color</th>
        <th scope="col">Año</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha compra</th>
        <th scope="col">Precio compra</th>
      </tr>
    </thead>
      <tbody>
        {% for vehiculo in vehiculos %}
          <tr>
            <td>
              <div class="btn-group accion-botones" role="group">
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-eye"></i></button>
                <button type="button" class="btn btn-warning" ><i class="fa-solid fa-pencil"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
              </div>
            </td>
            <td>{{vehiculo.matricula}}</td>
            <td>{{vehiculo.nro_chasis}}</td>
            <td>{{vehiculo.marca}}</td>
            <td>{{vehiculo.modelo}}</td>
            <td>{{vehiculo.color}}</td>
            <td>{{vehiculo.anio}}</td>
            <td>{{vehiculo.fecha_compra}}</td>
            <td>{{vehiculo.fecha_compra}}</td>
            <td>{{vehiculo.precio_compra}}$</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}

