{% extends "base.html" %} 

{% block titulo %} AUTOLOTE {% endblock %}

{% block main %}
<div>
    <button id="insert-sales"><i class="fa-solid fa-square-plus"></i> Nuevo</button>
    <button id="export-sales"><i class="fa-solid fa-file-export"></i> Exportar</button>
</div>

<div class="table-wrapper">
  <table class="table" id="ventas-table">
    <thead>
        <tr>
            <th>Accion</th>
            <th>Id Venta</th>
            <th>Matricula</th>
            <th>Fecha Venta</th>
            <th>Precio venta</th>
            <th>Id Cliente</th>
            <th>Id Vendedor</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>
                <div class="btn-group accion-botones" role="group">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventasModal" data-id="{{ venta.id_venta }}">
                    <i class="fa-solid fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-warning">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <form action="/delete_sales/{{ venta.id_venta }}" method="POST">
                  <button id="delete-sales" class="btn btn-danger" ><i class="fa-solid fa-circle-xmark"></i></button>
                </form>
                </div>
              </td>
            <td>{{ venta.id_venta }}</td>
            <td>{{ venta.matricula }}</td>
            <td>{{ venta.fecha_venta }}</td>
            <td>{{ venta.precio_venta }}</td>
            <td>{{ venta.id_cliente }}</td>
            <td>{{ venta.id_vendedor }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
