{% extends "base.html" %} 

{% block titulo %} Ventas {% endblock %}

{% block main %}
<div class="card-table">

  <div>
      <button id="insert-sales" data-bs-toggle="modal" data-bs-target="#salesModal"><i class="fa-solid fa-square-plus"></i> Nuevo</button>
      <form action="/sales/export">
        <button id="export-sales"><i class="fa-solid fa-file-export"></i> Exportar</button>
      </form>
  </div>

  <div class="table-wrapper">
    <table class="table" id="ventas-table">
      <thead>
          <tr>
              <th>Accion</th>
              <th>Id Venta</th>
              <th>Matricula</th>
              <th>Fecha Venta</th>
              <th>Precio venta</th>
              <th>Id Cliente</th>
              <th>Id Vendedor</th>
          </tr>
      </thead>
      <tbody>
          {% for venta in ventas %}
          <tr>
              <td>
                  <div class="btn-group accion-botones" role="group">
                    <button type="button" id="view-sales" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#salesModal" data-id="{{ venta.id_venta }}"><i class="fa-solid fa-eye"></i></button>
                    <button type="button" id="edit-sales" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#salesModal" data-id="{{ venta.id_venta }}"><i class="fa-solid fa-pencil"></i> </button>
                    <form action="/delete_sales/{{ venta.id_venta }}" method="POST">
                    <button id="delete-sales" class="btn btn-danger" ><i class="fa-solid fa-circle-xmark"></i></button>
                  </form>
                  </div>
                </td>
              <td>{{ venta.id_venta }}</td>
              <td>{{ venta.matricula }}</td>
              <td>{{ venta.fecha_venta }}</td>
              <td>{{ venta.precio_venta }}</td>
              <td>{{ venta.id_cliente }}</td>
              <td>{{ venta.id_vendedor }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="salesModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div id="sales-header" class="modal-header">
        </div>
        <div id="sales-details" class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
