{% extends "base.html" %} 

{% block titulo %} Vendedores {% endblock %}

{% block main %}
<div class="card-table">

  <div>
    <button id="insert-seller" data-bs-toggle="modal" data-bs-target="#sellerModal"><i class="fa-solid fa-square-plus"></i> Nuevo</button>
    <form action="/sellers/export">
      <button id="export-seller"><i class="fa-solid fa-file-export"></i> Exportar</button>
    </form>
  </div>

  <div class="table-wrapper">
    <table class="table" id="vendedores-table">
      <thead>
        <tr>
          <th>Acción</th>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
        </tr>
      </thead>
      <tbody>
        {% for vendedor in vendedores %}
          <tr>
            <td>
              <div class="btn-group accion-botones" role="group">
                <!-- <button type="button" id="view-seller" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sellerModal" data-id="{{ vendedor.id_vendedor }}"><i class="fa-solid fa-eye"></i></button> -->
                <button type="button" id="edit-seller" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#sellerModal" data-id="{{ vendedor.id_vendedor }}"><i class="fa-solid fa-pencil"></i> </button>
                <form action="/delete_sellers/{{ vendedor.id_vendedor }}" method="POST">
                  <button id="delete-seller" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i></button>
              </form>
              </div>
            </td>
            <td>{{ vendedor.id_vendedor }}</td>
            <td>{{ vendedor.nombre }}</td>
            <td>{{ vendedor.apellido }}</td>
            <td>{{ vendedor.cedula }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="sellerModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div id="seller-header" class="modal-header">
        </div>
        <div id="seller-details" class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn close-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
